@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.start-btn {
  background-color: #3F4739;
  color: white;
  padding: 16px;
  margin-top: 5%;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.link-page{
  color: black;
  background-color: #f19ec586;
  width: 100%;
  font-family: 'Quicksand', sans-serif;
}

a {
  font-size: 50px;
}

.btn{
    background-color: #FAF9F9;
    color: black;
    margin: 5%;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}