.start-btn {
  background-color: #3F4739;
  color: white;
  padding: 16px;
  margin-top: 20px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.link-page{
  color: black;
  background-color: #da8db1;
  width: 100%;
}

.link-here{
  font-size: larger;
}

.btn{
    background-color: #FAF9F9;
    color: black;
    margin: 5%;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}