@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
.start-page{
    font-family: 'Quicksand', sans-serif;
    background-color:#f19ec586;
    height: 100%;
    width: 100%;
    color: black
}

.dropdown {
    color: black;
    width: 70%;
    margin: 0 auto;
}

.btn {
    background-color: #FAF9F9;
    color: black;
    margin: 5%;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}