@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
html, body{
  margin: 0px;
  height: 100%;
}
.start-page{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    background-color:#f19ec586;
    height: 100vh;
    width: 100%;
    color: black;
    margin: 0 auto;
    display: table;
}

.inner-box{
    text-align:center;
  display:table-cell;
  vertical-align: middle;
}

.dropdown {
    color: black;
    width: 60%;
    margin: 0 auto;
}

.btn {
    background-color: #FAF9F9;
    color: black;
    margin: 5%;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}